.container {
    width: 100%;
    height: auto;

    padding: 45px 125px;

    background-color: var(--color-yellow);
    color: #000;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 30px;
    font-weight: 500;
}

.button {
    font-size: 23px;
    font-weight: 500;

    padding: 15px 20px;

    background-color: #000;
    color: #fff;

    transform: background-color;
}

.button:hover {
    background-color: rgb(66, 65, 65);
}

@media screen and (max-width: 768px) {
    .container {
        padding: 32px;
    }

    .title {
        font-size: 28px;
    }

    .button {
        font-size: 20px;
    }
}

@media screen and (max-width: 320px) {
    .container {
        padding: 20px;
        gap: 15px;

        flex-direction: column;

        text-align: center;
    }

    .title {
        font-size: 22px;
    }

    .button {
        font-size: 16px;

        padding: 10 20px;
    }
}