.container {
    width: 100%;
    height: auto;

    padding: 45px 125px;

    background-color: var(--color-yellow);
    color: #000;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 30px;
    font-weight: 500;
}

.button {
    font-size: 23px;
    font-weight: 500;

    padding: 15px 20px;

    background-color: #000;
    color: #fff;

    transform: background-color;
}

.button:hover {
    background-color: rgb(66, 65, 65);
}