.container {
  width: 100%;
  overflow: hidden;
  padding: 2rem 0;
}

.title {
    text-align: center;
    margin-bottom: 48px;

}

.title h2 {
    font-size: 36px;
    font-weight: 500;
}

.carousel {
  overflow: hidden;
  width: 100%;
}

.carouselTrack {
  display: flex;
  gap: 1rem;
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Ajuste para o CardPhoto */
.carouselTrack > * {
  flex: 0 0 auto;
  width: 300px; /* Ajuste o tamanho do card */
}

@media screen and (max-width: 768px) {
  .container {
    padding-block: 32px;
  }

  .title {
    margin-bottom: 20px;
  }

  .title h2 {
    font-size: 30px;
  }

  .carousel {
    overflow: hidden;

    width: 100%;
  }

  .carouselTrack {
    display: inline-flex;

    width: max-content;

    gap: 1rem;

    animation: scroll 20s linear infinite;

    will-change: transform;
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding-block: 20px;
  }

  .title h2 {
    font-size: 24px;
  }
}

@media screen and (max-width: 320px) {
  .container {
    padding-block: 20px;
  }

  .title {
    margin-bottom: 30px;
  }

  .title h2 {
    font-size: 22px;
  }

  .carousel {
    overflow: hidden;

    width: 100%;
  }

  .carouselTrack {
    display: inline-flex;

    width: max-content;

    gap: 1rem;

    animation: scroll 20s linear infinite;

    will-change: transform;
  }

}
