.container {
    width: 100%;
    height: auto;

    padding: 45px 125px;

   display: flex;
   justify-content: space-between;
}

.image img {
    width: 530px;
    height: auto;
}

.description {
    width: 433px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.description h3 {
    text-align: center;

    font-size: 26px;
    font-weight: 500;
}

.description p {
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    text-align: justify;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 32px;

        flex-direction: column;
    }

    .image img {
        width: 100%;
    }

    .description {
        width: 100%;
    }

    .description h3 {
        margin-top: 15px;
    }
}

@media screen and (max-width: 480px) {
    .container {
        padding: 20px;
    }

    .description h3 {
        font-size: 24px;
    }
}

@media screen and (max-width: 320px) {
    .container {
        padding: 20px;

        width: 100%;

        flex-direction: column;
    }

    .image img {
        width: 100%;
    }

    .description {
        width: 100%;
    }

    .description h3 {
        font-size: 22px;

        margin-top: 8px;
    }
}