.container {
    width: 100%;
    height: auto;

    padding: 45px 125px;

    display: flex;
    flex-direction: column;
    gap: 49px;

    background-color: var(--background-color-secondary);
    color: #fff;
}

.global {
    display: flex;
    justify-content: space-between;
}

.name {
    width: 237px;
    height: auto;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.name > a {
    font-size: 20px;
    font-weight: 500;
    
    color: #fff;
}

.links {
    display: flex;
    gap: 10px;
}

.links img {
    width: 20px;
    height: 20px;

    transition: transform 0.3s ease;
}

.links img:hover {
    transform: scale(1.4)
}

.navigation {
    width: 237px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.navigation > h3 {
    font-size: 16px;
    font-weight: 500;
}

.linksNavigation {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.linksNavigation a {
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;

    text-decoration: underline;

    color: white;

    transition: color 0.3s ease-in-out;
}

.linksNavigation a:hover {
    color: var(--color-yellow);
}

.finally {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: center;
}

.line {
    width: 100%;
    height: 2px;

    background-color: var(--text-color-secondary);
}

.footerInfos {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.footerInfos a {
    font-size: 14px;
    font-weight: 400;

    text-decoration: underline;

    color: #fff;

    transition: color 0.3s ease-in-out;
}

.footerInfos a:hover {
    color: var(--color-yellow);
}

@media screen and (max-width: 320px) {
    .container {
        padding: 20px;
        gap: 30px;
        
        text-align: center;
        align-items: center;
    }

    .global {
        flex-direction: column;

        gap: 25px;
    }

    .name {
        gap: 15px;
    }

    .links {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
    }

    .finally {
        flex-direction: column;
    }

    .footerInfos {
        flex-direction: column;
    }
}