* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* COLORS */
    --background-color-primary: #F2F2F2;
    --background-color-secondary: #1F1F1F;

    --text-color-primary: #1f1f1f;
    --text-color-secondary: #979797;

    --color-yellow: #F2FF00;

    /* FONT */
    --font: "Poppins", sans-serif;
}

button {
    background-color: var(--color-yellow);
    color: var(--text-color-primary);

    font-size: 16px;
    font-weight: 500;

    padding: 12px 16px;

    border-radius: 8px;
    border: none;

    cursor: pointer;

    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e8e853;
}
