.container {
    background-image: url("../../assets/office.jpg"); /* ajuste esse caminho se necessário */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 570px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 47px;
}

.container .title {
    color: #fff;
    max-width: 814px;
    
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    gap: 19px;
}

.container .title h1{
    font-size: 54px;
    font-weight: 600;
    text-align: center;
    line-height: 120%;
}

.container .title p {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    line-height: 120%;
}

.container .buttons {
    display: flex;
    gap: 133px;
}

.container .buttons button:nth-child(1) {
    transition: background-color, border, color, 0.3s ease-in-out;

    font-size: 22px;
    padding: 15px 25px;
}


.container .buttons button:nth-child(1):hover {
    background-color: transparent;
    border: 1px solid var(--color-yellow);
    color: #fff;
}

@media screen and (max-width: 768px) {
    .container {
        height: 550px;

        padding: 32px;
    }

    .container .title {
        margin-top: 60px;
    }

    .container .title h1 {
        font-size: 40px;
    }

    .container .title p {
        font-size: 18px;
    }
}


@media screen and (max-width: 320px) {
    .container {
        height: 400px;
        gap: 20px;

        padding-inline: 20px;
    }

    .container .title {
        margin-top: 0;
    }

    .container .title h1 {
        font-size: 24px;
    }

    .container .title p {
        font-size: 16px;
    }

    .container .buttons button:nth-child(1) {
        font-size: 14px;

        padding: 10px;
    }
}