.container {
    width: 50%;
    height: auto;
    padding: 13px 15px 13px 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 20px;
    left: 50%;
    z-index: 1000;
    transform: translate(-50%);

    border-radius: 300px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    color: var(--text-color-primary);
    background-color: var(--background-color-primary);
}

.container > p {
    font-size: 24px;
    font-weight: 600;
}

.container button {
    font-size: 18px;
    font-weight: 600;

    padding: 13px 20px;
}

@media screen and (max-width: 768px) {
    .container {
        width: 90%;

        padding-block: 15px;
    }  
}

@media screen and (max-width: 480px) {
    .container {
        padding: 13px 15px 13px 20px;

    }

    .container p {
        font-size: 20px;
        font-weight: 500;
    }

    .container button {
        font-weight: 500;
    }
}

@media screen and (max-width: 376px) {
    .container p {
        font-size: 18px;
    }
}

@media screen and (max-width: 320px) {
    .container {
        width: 95%;

        padding: 8px 10px;

        top: 5px;

        border-radius: 25px;
    }

    .container p {
        font-size: 14px;
    }

    .container button {
        font-size: 14px;
        font-weight: 500;

        padding: 10px;
    }
}